.alt-background{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.created-button {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(172, 160, 160);
  color: white;
}